@media (max-width: 1920px) {
    
  }
  
  @media (max-width: 1680px) {
    
  }
  
  @media (max-width: 1440px) {
    
  }
  
  @media (max-width: 1366px) {
    
  }
  
  @media (max-width: 1280px) {
    
  }
  
  @media (max-width: 1024px) {
    
  }
  
  @media (max-width: 890px) {
    
  }

  @media screen and (min-width: 700px) {
    .Mh1 {
      bottom: 95px;
      right: 120px;
    }
  
    .Mh2 {
      bottom: 40px;
      right: 120px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .Mh1, .Mh2 {
      display: none;
    }
  }
  
  @media (max-width: 550px) {
    
  }
  
  @media (max-width: 375px) {
    
  }